name: Deploy WebRTC test

defaults:
  run:
    working-directory: ./frontend

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: 'npm'
          cache-dependency-path: ./frontend/other/package-lock.json

      - name: npm build
        run: |-
          npm install
          npx webpack
