name: External build and test

defaults:
  run:
    working-directory: ./backend/external

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build Go binary
        run: |-
          make build

      - name: Run Go Test
        run: |-
          make test
